.banner{
    display: flex;
    margin: 50px 200px;
    align-items:center;
    width: 100px;}

.main-banner{
    display: flex;
    margin: 0;
    align-items: center;}

.head-title{
    
}
.btn-primary{
    height: 30px;
    border-radius: 5px;
 background-color: #FD6E0A;
}
.banner-title{text-align: bottom;

}
.simple{
    margin: 0;
    display: flex;
    align-items: center;
}
.title{
    display: flex;
    margin: 0;
    align-items: center;
}
/* my plans */
.my-plans{
display: flex;
}
.skills-container{
    display: flex;
}
.button-class{
    background-color: aliceblue;
}
.positive{
display: flex;
text-align: center;
background-image: url(../images/gradient2.png);
background-repeat: no-repeat;
}
.button-chup{
    background-color: #FD6E0A;
  
}
.section-class{
    display: flex;
    text-align: center;
  
}